{% extends "::baseFront.html.twig" %}

{% block body %}
	{# <h4> Tarif</h4> #}
	<div class = "conteneurTarifsFront">
		<div class = "conteneurTarifFront">
			{% if estPremier == false %}
				<form  class = "conteneurFlecheDroite" id = "formTarif" action = "{{path('tarif_platform_suivant')}}" method = "post">
					<span type = "submit" class="glyphicon glyphicon-chevron-left flecheDroite" aria-hidden="true" onclick="document.getElementById('formTarif').submit();"></span>
					<input type = "hidden" value = "{{tarif.id}}" name = "tarifId" />
					<input type = "hidden" value = "0" name = "tarifSuivant" />
				</form>
			{% endif %}
			<div class = "conteneurImageTarifFront">
				<div class = "conteneurImageDeux">
					<img src = "{{tarif.urlImage}}" alt = "Image anniversaire" class = "imageTarifFront"/>
				</div>
			</div>
			<div class = "conteneurTitrePlusTexte">
				<div class = "conteneurTexteDeuxTarifFront">
					{{tarif.texte}}
				</div>
				<div class = "contenurFullTexte">
					{{tarif.fullTexte}}
				</div>
				<div class = "conteneurPrixTarifFront">
					{{tarif.prix}}
				</div>
		</div>
			{% if estDernier == false %}
				<form  class = "conteneurFlecheDroite" id = "formTarif2" action = "{{path('tarif_platform_suivant')}}" method = "post">
					<span type = "submit" class="glyphicon glyphicon-chevron-right flecheDroite" aria-hidden="true" onclick="document.getElementById('formTarif2').submit();"></span>
					<input type = "hidden" value = "{{tarif.id}}" name = "tarifId" />
					<input type = "hidden" value = "1" name = "tarifSuivant" />
				</form>
			{% endif %}
		</div>

		<div class = "conteneurLienTarif">
			<a href = "{{path('contact_platform_affichage_front')}}" class = "lienTarif">ME CONTACTER</a>
		</div>
	</div>
{% endblock %}
