<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width, initial-scale-1.0">

        <title>{% block title %} Fleur de Lys Photographie | {% endblock %}</title>

        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('web/bundles/framework/images/logo_symfony.png') }}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="path/to/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>

        <link rel="stylesheet" href="{{asset('bundles/Base/css/baseFront.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/Accueil/css/accueilFront.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/Tarif/css/tarifFront.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/Presentation/css/presentationFront.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/Portfolio/css/portfolioFront.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/Contact/css/contact.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/Evenement/css/evenementFront.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/Evenement/css/evenementEnSavoirPlusFront.css')}}" />

        {% block stylesheets %}{% endblock %} 
    </head>

    <body>
        <script type="text/javascript" src="{{asset('bundles/Base/js/jsGlobal.js')}}"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
        {% block nav %} {% include '::navFront.html.twig' %} {% endblock %}
        
        <div class = "conteneur">
            {% block body %}  {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}

        <footer class = "frontFooter">
             Copyright © 2017 Fleur de Lys Photography Tous droits Réservés.
        </footer>
    </body>

</html>