<div class="navFixed">
	<header class = "frontHeader">
		<a href = "{{ path('accueil_platform_homepage') }}"><img class = "imgFrontHeader" src = "{{asset('bundles/Accueil/image/logoTest.png')}}" alt = "logoFlS" /></a>
	</header>

	<nav class = "conteneurfrontNav">
		<div class = "frontNav">
			<a href="{{ path('portfolio_platform_homepage') }}">
	   			Portfolio
			</a>
		</div>
		<div class = "frontNav">
			<a href="{{ path('presentation_platform_homepage') }}">
	   			Fleur de lys
			</a>
		</div>
		<div class = "frontNav">
			<a href = "{{ path('evenement_platform_affichage_front')}}">
				Evénement
			</a>
		</div>
		<div class = "frontNav">
			<a href="{{ path('tarif_platform_homepage') }}">
				Tarif
			</a>
		</div>
		<div class = "frontNav">
			<a href="{{ path('contact_platform_affichage_front') }}">
				Contact
			</a>
		</div>

		{% if app.session.get('idUser') == null %}
			<div class = "frontNav">
				<a href="{{ path('user_platform_connexion') }}">
					Mon compte
				</a>
			</div>
			{% else %}
				<div class = "frontNav">
					<a href="{{ path('user_platform_monAlbum') }}">
						Mon album
					</a>
				</div>

			<div class = "frontNav">
				<a href="{{ path('user_platform_deconnexion') }}">
					Déconnexion
				</a>
			</div>
		{% endif %}

	</nav>
</div>
