
{% extends "::base.html.twig" %}

{% block body %}
	
	<form  method = "POST" action= "{{path('presentation_platform_modification')}}" class = "conteneurPresentation" enctype="multipart/form-data">
		<h1>Présentation</h1>
		<div class = "conteneurBoutonPresentation">
			<input type="submit" name="bouton" value="Modifier" class="boutonPresentation"/>
		</div>
		<div class = "conteneurTitrePresentation">
			<h1> <input class = "titrePresentation form-control" type="text" value = "{{presentation.titre}}" name="titre" size="45" /> </h1>
		</div>

		<div class = "conteneurImagePresentationAndTextePresentation">
			<div class = "conteneurImagePresentation">
				{# <img src = "{{asset('bundles/images/imen.jpg')}}" alt = "Image de présentation" /> #}
				<img src = "{{ presentation.urlImage }}" alt = "Image de présentation"  class = "imagePresentation"/>
				
				<input type = "file" name = "image" class = "fileImagePresentation" />
			</div>

			<div  class = "conteneurTextePresentation">
				<div class="form-group">
					
				<textarea class ="form-control" name = "texte" id="exampleTextarea" >{{presentation.texte}}</textarea>
		 		</div>
			</div>

		</div>
	</form>


{% endblock %}