{% extends "::base.html.twig" %}

{% block body %}

<div class = "conteneurUser">
  <h1 class = "titreUser">Utilisateurs</h1>

  <form action = "{{path('user_platform_affichageAjout')}}" method = "post">
    <input type = "submit" value = "Ajouter" />
  </form>
  <div class = "conteneurColonne">
    <div class = "conteneurColonneNom">
      Nom
    </div>
    <div class = "conteneurColonnePrenom">
      Prénom
    </div>
    <div class = "conteneurColonneEmail">
      Email
    </div>
  </div>

  <div class = "conteneurTableau">
  {% for user in users %}
    <div id = "user-{{user.id}}" class = "conteneurLigne">
        <div class = "conteneurValeurNom">
          {{user.nom}}
        </div>

        <div class = "conteneurValeurPrenom">
          {{user.prenom}}
        </div>

        <div class = "conteneurValeurEmail">
          {{user.email}}
        </div>
      <form action =  "{{ path('user_platform_voir') }}" method = "post" class = "conteneurBoutonVoir">
        <input type = "submit" value = "Voir" />
        <input type = "hidden" name = "idUser" value = "{{user.id}}" />
        <input id = "lienSuppressionUser" type="hidden" value =  "{{path('user_platform_suppression')}}"/>
      </form>
      <button id = "{{user.id}}" class = "conteneurBoutonSupprimer">
        Supprimer
      </button>
  </div>

  {% endfor %}
  </div>

</div>
{% endblock %}
