{% extends "::base.html.twig" %}

{% block body %}

	<div class = "conteneurPorfolio">
		<h1 class = "titrePortfolio"> Portfolio </h1>

		<div class = "conteneurCategoriePortfolio">
			{% for categorie in categories %}
				<form action = "{{path('portfolio_platform_affichageImageParCategorie')}}" method = "post"  class =" categoriePortfolio">
					<input type = "submit" class = "btn btn-default" value = "{{categorie.valeur}}" />
					<input type = "hidden" value = "{{categorie.valeur}}" name = "lienCategoriePortfolio" />
				</form>
			{% endfor %}
			<button class = "btn btn-primary boutonCategoriePortfolio" onclick="self.location.href='{{path('portfolio_platform_modification')}}'" > 
				Modifier
			</button> 			
		</div>

		<div class = "conteneurImagesEtUploadPortfolio">
			<div class = "conteneurUploadPorfolio">
				<input type = "file" class = "uploadPorfolio" multiple="" name="filesToUpload[]" id="filesToUploadPortfolio" />
				<input  type = "submit" value = "Upload"  class = "boutonUploadPortfolio" />
		        <input type="hidden" value="{{ path('portfolio_platform_ajoutImageParCategorie') }}" id =  "lienAjoutPhoto" />
		        <input type="hidden" id="lienSuppressionPhotoporfolio" value="{{ path('portfolio_platform_suppressionImageParCategorie') }}" />
	        	<input type = "hidden" value = "{{categorieSingle}}" id = "idCategoriePorfolio" />
			</div>

			<div class = "conteneurImagesPortfolio">
				{% for image in images %} 
					<div class = "conteneurImagePortfolio imgPortFolio-{{image.id}}">
						<img src = "{{image.urlImage}}" alt = "Photo" class = "imagePortfolio" />
						<span   id = "{{image.id}}" class="glyphicon glyphicon-remove fa-lg croixSuppressionPortfolio " > </span>
						<input type="hidden" id="lienSuppressionPhotoPortfolio" value="{{ path('portfolio_platform_suppressionImageParCategorie') }}" />
					</div>
				{% endfor %}
			</div>
		</div>


	</div>

{% endblock %}
