{% extends "::base.html.twig" %}

{% block body %}


	<div class = "conteneurPorfolioModification">
		<h1 class = "titrePortfolioModification"> Portfolio / Catégorie </h1>

		<form action = "{{path('portfolio_platform_modificationCategorie')}}" method = "post" class = "conteneurFormulairePortfolioModif">
			<div class = "conteneurInputPortfolioModif">
				<input type = "submit" name = "boutonMoficationCategorie" value = "Modifier"  />
			</div>
			{% for categorie in categories %}
				<div class = "conteneurInputPortfolioModif" id= "portfolioCategorie-{{categorie.id}}" >
					<input type = "text" name = "categorie{{loop.index}}" value = "{{categorie.valeur}}" class = "form-control inputPortfolioModif"/>
					<input type = "hidden" name= "idCategorie{{loop.index}}" value = "{{categorie.id}}"/>
					<span  id= "{{categorie.id}}" class="glyphicon glyphicon-remove fa-lg croixSuppressionPortfolioCategorie" > </span>
					<input type = "hidden" value = "{{path('portfolio_platform_supressionCategorie')}}" id = "lienSuppressionPortfolioCategorie" />
				</div>
				<input type = "hidden" name = "nombreCategorie" value = "{{loop.length}}"  />
			{% endfor %}
		</form>

		<div>
			<button class = "btn btn-primary" id = "boutonAjouterCategoriePortfolio"> 
				Ajouter
			</button>
		</div>
	</div>
{% endblock %}